*.o
*.o.d
/obj/
*.out
*.tags
*.mk
*.session
*.txt
.build-debug
.build-release
*.dll
*.exe
*.lib
*.list
*.a
*.ilk
/.svn/
.svn
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/bin/
*.cd
*.sdf
*.ipch
/ipch/
